<!DOCTYPE html>
<html>
  <head>
    <title>soMad!</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 320px;
        object-fit:cover;
      }
    </style>
  </head>
  <body> 
    <div class="container">
      <h1 class=>soMad!</h1>
      <div class=""shadow-none p-3 mb-5 bg-light rounded"">Select Your Favourites</div>
      <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign Up</a>
  </li>
</ul>
  </body>
   <body>
     <img class="rounded mx-auto d-block" id="banner" src= "https://select-your-recipe.kirankumar282.repl.co/static/sunrise.jpeg" >
     <h2 class="text-center">
       About soMad!
     </h2>
     <p class="lead" >
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At ultrices mi tempus imperdiet nulla. Aliquet risus feugiat in ante metus. Nulla at volutpat diam ut. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat.
     </p>
     <button class="btn btn-primary btn-lg">Contact Us</button>
       <p class="text-center mt-2 mb-4">Copyright 2022, soMad!</p>
     </div>
  </body>
</html>