<!DOCTYPE html>
<html>
  <head>
    <title>Paleo</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 320px;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-2">Paleo</h1>  
  </body>
   <body>
      <h2 class= "text-center" >Select Your Favourite Recipes and Get Delivered at your Door Steps in Hyderabad
      </h2> 
     <img class="rounded mx-auto d-block" id="banner" src= "https://select-your-recipe.kirankumar282.repl.co/static/paleo.jpeg" >
     <h2 class="text-center">
       About Paleo
     </h2>
     <p class="lead" >
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At ultrices mi tempus imperdiet nulla. Aliquet risus feugiat in ante metus. Nulla at volutpat diam ut. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat.
     </p>
     
     <h2 style="color:rgb(266,120,55)"class="text-center mt-2 mb-4">Region-wise Recipes</h2> 
     <div style="margin-bottom:16px";>
     <h2 style="color:rgb(255,0,0);margin-bottom:4px;">Telangana</h2>
     <div>
       {%for recipe in recipes%}
       <div style="margin-bottom:16px";>
       <h4 style="color:rgb(25,233,10)">{{recipe['dish']}}</h4>
       <div><b>Spice-Level: </b>{{recipe['spicy-level']}}</div>
       <div><b>Total Members: </b>{{recipe['members']}}</div>
       
       {% endfor %}
     </div>
     <h2 style="color:rgb(255,0,0)">Rayalseema</h2>
     <div>
       {%for recipe in recipes%}
       <h4 style="color:rgb(25,233,10)"">{{recipe['dish']}}</h4>
       <div><b>Spice-Level: </b>{{recipe['spicy-level']}}</div>
       <div><b>Total Members: </b>{{recipe['members']}}</div>
       {% endfor %}
       <div style="margin-bottom:16px";>
     </div>
     <h2 style="color:rgb(255,0,0)">Andhra</h2>
     <div>
       {% for recipe in recipes %}
       <h4 style="color:rgb(25,233,10)">{{recipe['dish']}}</h4>
       <div><b>Spice-Level: </b>{{recipe['spicy-level']}}</div>
       <div><b>Total Members: </b>{{recipe['members']}}</div>
       {% endfor %}
     <div style="margin-bottom:16px";>
     <h2 style="color:rgb(255,0,0);margin-bottom:4px;">Orissa</h2>
     <div>
       {%for state in states%}
       <div style="margin-bottom:16px";>
       <h4 style="color:rgb(25,233,10)">{{state['dish']}}</h4>
       <div><b>Total Members: </b>{{state['members']}}</div>
       
       {% endfor %}
     </div>
     <div class="text-center">
     <button class="btn btn-primary btn-lg">Contact Us</button>
       <p class="text-center mt-2 mb-4">Copyright 2022, Paleo</p>
     </div>
  </body>
</html>